body{
    background-image: url('/assets/img.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#features{
    background-color: rgba(14, 12, 12, 0.582);
    padding:30px;
    margin:10px
}
hr{
    margin-bottom: 8px;
    margin-top:8px;
}
h1{
    text-align: center;
    text-decoration: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    text-size-adjust: 90px;
    margin-bottom: -22px;
    margin-left: 20px;
    font-size: 40px;
    font-style: bold;
}
h2{
    text-align: right;
    text-decoration: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    -webkit-text-stroke: 1px red;
    text-size-adjust: 90px;
    margin-bottom: -22px;
    margin-left: 20px;
    font-style: bold;
}
h4{
    color: rgb(238, 238, 238) ;
    margin-left: 20px;
    stroke: black;
    text-align: center;
    font-family:sans-serif;
    font-style: italic;
    text-size-adjust: 10px;
}
.senter{
    text-align: center;
    align-content: center;
}
.img-size{
    width: 50px;
    height: 50px;
    margin-right: 5px;
    margin-bottom: -12px;
}
.text-center {
    text-align: center;
    text-shadow: black;
}
#boton-1 {
    display: inline-block;
    border: none;
    padding: 15px;
    background-color: #2e518b;
    color: #ffffff;
    border-radius: 4px;
    width: 85px;
    font-size: 18px;
    text-align: center;
    text-decoration: blanchedalmond;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 0.4s;
    }
  #boton-1:hover{
    background:#2a3f61;
    text-align: center;
    padding:17px;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: blanchedalmond;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #boton-2 {
    display: inline-block;
    width: 85px;
    text-align: center;
    padding: 15px;
    transition-duration: 0.4s;
    text-align: center;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #ac2c52;
    color: #ffffff;
    text-decoration: blanchedalmond;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  #boton-2:hover{
    background:#6d2d40;
    padding: 17px;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: blanchedalmond;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .img-boton{
      width: 18px;
      margin-bottom: -1px;

  }
  #img-boton-1{
      width: 18px;
      margin-bottom:-3px;
  }
    #header-logo {
        float: left;
        padding: 15px 0 0 20px;
        text-size-adjust: 90px;
        margin-bottom: -30px;
    }
    #header-logo .name{
    display:inline-block;
    text-decoration: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    margin-bottom: -30px;
    font-weight: 800;
    }
/*
 * Navegación
 */
nav {
    float:right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
                margin-right: 15px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
				text-decoration: none;
                font-weight: 600;
			}
            nav ul li #img-1{
                width:25px;
                margin-bottom: -3px;
                margin-right: 6px;
            }
            nav ul li #img-2{
                width:22px;
                margin-bottom: -4px;
                margin-right: 6px;
            }
			
				nav ul li a:hover {
					background: #ac2c52;
				}
                #logo-header {
                    float: left;
                    padding: 15px 0 0 20px;
                    text-decoration: none;
                }

                #main-header {
                    background: #632f3f;
                    color: white;
                    height: 80px;
                }	
                    #main-header a {
                        color: white;
                    }
.show{
    margin-left: 20px;
}
.deresha{
 position:absolute;
 left:47%;
}
.abajo{
margin-left: 19.8px;
}
.exposicion{
    color:white;
    list-style-type:none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 33px;
    margin-top: 70px;
}
.subtitulo{
    font-size:43px;
    text-align: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
    text-size-adjust: 90px;
    margin-bottom: -30px;
    margin-top: 10px;
    margin-left: 20px;
    font-style: bold;
}
.red{
    -webkit-text-stroke: 1px red;
}
.rosa-one{
    -webkit-text-stroke: 1px pink;
    font-size: 29px;
    font-style: bold;
}
.rosa-two{
    -webkit-text-stroke: 1px rgb(240, 123, 143);
    font-size: 25px;
}
.box{
    width:55%;
    height:355px;
    background-color: #141414;
    opacity: 50%;
    color:whitesmoke;
    float:right 
}
.teisto{
    left: 48%;
    margin-bottom: 3px;
}
.features{
    width: 40%;
    height:355px;
    float:right;
    color:white;
    margin-top: -300px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .big{
    text-decoration: blanchedalmond;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
    font-size: 40px;
    font-style: bold;
}
.box-2{
    width:55%;
    height:355px;
    background-color: #141414;
    opacity: 50%;
    color:whitesmoke;
}
/* Tooltip container */
.tooltip {
    position:relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    display: inline-block;
    visibility: hidden;
    width: 200px;
    background-color: black;
    opacity: 60%;
    padding: 2px;
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    bottom: 100%;
    -webkit-text-stroke:#fff;
    left: 50%;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }